let idfun : (A : U<0>) -> (B : U<0>) -> (A -> B) -> (A -> B) =
  fun A -> fun B -> fun x -> x

normalize def idfun

let idpair : (A : U<0>) -> (B : U<0>) -> (A * B) -> (A * B) =
  fun A -> fun B -> fun x -> x

normalize def idpair
